<% layout('layouts/boilerplate') -%>;
<div class="row " >.
    <%- include('../partials/flash')  %> 
    <% for(let item of products) {%>
        <div class="col-lg-4 mb-5 mt-5">
            <div class="card shadow-lg mx-auto text-center" style="width: 18rem;">
                <img src="<%= item.img %>" class="card-img-top" alt="item image">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-between align-items-center">
                    <span><%= item.name %></span>
                    <span class="badge rounded-pill bg-light text-dark w-25 position-absolute translate-middle-y" style="top:41%;left:5%"><%=item.AwgRating%>  &star; | <%=item.reviews.length%></span>

                    <span class="btn like-button"  product-id="<%=item._id%>">
                        <%if(currentUser && currentUser.wishList.includes(item._id)){%>
                            <i class="fas fa-heart"></i>
                       <%} else{%>
                            <i class="far fa-heart"></i>
                        <%}%>

                       
                    </span>
                </h5>

                  <h5 class="card-title">$<%= item.price %></h5>
                  <p class="card-text"><%= item.desc %></p>
                  <a href="/products/<%=item._id%>" class="btn btn-primary ">Buy Now</a>
                </div>
            </div>
        
        
        </div>
    <% } %>
</div>
<script src="/js/common.js "></script>
    


    